@model IEnumerable<BIBData.Models.Lener>
@{ 
    ViewData["Title"] = "Index";
}
<h2>Leners</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td></td>
            <td>Voornaam</td>
            <td>Familienaam</td>
            <td>Adres</td>
            <td>Geboortedatum</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var lener in Model)
        {
            <tr>
                <td><a asp-action="Detail" asp-route-id="@lener.Id">@lener.Id</a></td>
                <td>@lener.Voornaam</td>
                <td>@lener.Familienaam</td>
                <td>@lener.Adres</td>
                <td>@Html.DisplayFor(m=>lener.GeboorteDatum)</td>
            </tr>
        }
    </tbody>
</table> 
